@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.all__link:hover {
  color: #2ed1a8;
  background: linear-gradient(to left, #49fc02, #009af3 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 76px;
  margin-bottom: 33px;
  padding: 17px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container__basket {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background: #F7F6F6;
}

.image-two svg {
  fill: darkgreen;
}

.container_header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #FFFFFF;
  padding-bottom: 18.5px;
  align-items: center;
}

.top {
  height: 735px;
  background-image: url(img/top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.catalog__top {
  height: 400px;
  background-image: url(img/catalog_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 126px;
  background-position: center;
}

.basket__top {
  height: 400px;
  background-image: url(img/basket_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 126px;
  background-position: center;
}

.header_input {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header_input::-moz-placeholder {
  color: #FFFFFF;
}

.header_input::placeholder {
  color: #FFFFFF;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 32px;
}

.menu-mob {
  display: none;
}

.main__title {
  margin-top: 64px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  width: 760px;
}

.main__text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.main__link {
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: 0.5s;
}

.main__link:hover {
  text-decoration: none;
  background-color: transparent;
  color: rgba(222, 215, 215, 0.41);
}

.main__link_footer {
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #000000;
  margin-bottom: 64px;
  transition: 0.6s;
  padding: 2px;
}

.main__link_footer:hover {
  text-decoration: none;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: rgba(224, 224, 224, 0.6117647059);
}

.main__link_top {
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: none;
  color: #000000;
}

.main__link_footer_catalog {
  margin-bottom: 64px;
}

.main__item_top {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.tree__list_top {
  list-style-type: none;
  display: flex;
}

.main__item_top:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.filters_select {
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  /* скругление полей формы */
  display: block;
  width: 100%;
  padding: 10px 44px 10px 14px;
  /* отступы от текста до рамки */
  background: none;
  /* убираем фон */
  -webkit-appearance: none;
  /* Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* убираем дефолнтные стрелочки */
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.filters-box {
  position: relative;
  width: 288px;
}

.filters-box::after {
  content: "";
  display: block;
  background-image: url("img/select.svg");
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}

.furniture__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.filters_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.furniture__item_big_1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.furniture__item_big_2 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.furniture__item_tall_1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.furniture__item_tall_2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.furniture__item_tall_3 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.furniture__item {
  height: 415px;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.furniture__item:hover {
  box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.4) inset;
}

.furniture__item:hover .furniture__link {
  font-size: 38px;
}

.furniture__link {
  width: 100%;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  transition: 0.5s;
}

.furniture__item_1 {
  background-image: url(img/Rectangle\ 17.jpg);
}

.furniture__item_2 {
  background-image: url(img/Rectangle\ 18.jpg);
}

.furniture__item_3 {
  background-image: url(img/Rectangle\ 19.jpg);
}

.furniture__item_4 {
  background-image: url(img/Rectangle\ 20.jpg);
}

.furniture__item_5 {
  background-image: url(img/Rectangle\ 21.jpg);
}

.furniture__title {
  padding-top: 64px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.container_special {
  padding-top: 64px;
}

.special__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

.special__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 33px;
       column-gap: 33px;
  margin-bottom: 0px;
}

.special__item {
  width: 30%;
  margin-bottom: 32px;
  position: relative;
}

.special__item:nth-child(3n+3) {
  margin-right: 0;
}

.special__img {
  width: 100%;
}

.product__cart {
  position: absolute;
  top: 3%;
  right: 3%;
  display: none;
}

.product__item {
  position: relative;
  transition: 0.2s;
  padding: 3px;
}

.product__item:hover {
  box-shadow: 0px 5px 31px 26px rgba(15, 97, 72, 0.17);
}

.product__item:hover .product__cart {
  display: flex;
  align-items: center;
}

.product__logo {
  transition: 0.4s;
}
.product__logo-case:hover .product__logo {
  fill: greenyellow;
  box-shadow: 3px 5px 73px 35px rgba(0, 255, 176, 0.2);
}

.logo__cart {
  margin-right: 13px;
}

.catalog__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

.container_catalog {
  padding-top: 41px;
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  margin-right: 32px;
  width: 31.5%;
  margin-bottom: 56px;
}

.catalog__item:nth-child(3n+3) {
  margin-right: 0;
}

.catalog__img {
  width: 100%;
}

.product__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.product__text {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.product__price1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  margin-right: 32px;
}

.product__price2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.footer__title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__list {
  list-style: none;
}

.footer__link_logo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  background: #F7F6F6;
}

.footer__item {
  margin-bottom: 12px;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  transition: 0.75s;
}

.footer__text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  width: 275px;
  height: 41px;
  outline: none;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 12px;
}

.footer__btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  transition: 0.6s;
}

.footer__btn:hover {
  background: #000000;
  color: #FFFFFF;
}

.social__link {
  transition: 0.7s;
}

.social__link:hover .footer__social_network {
  fill: #000000;
}

@media (max-width: 1200px) {
  .container {
    max-width: 786px;
  }
  .special__item {
    width: 48%;
    margin-right: 29px;
  }
  .special__item:nth-child(2n+2) {
    margin-right: 0;
  }
  .catalog__item {
    margin-right: 29px;
    width: 48%;
    margin-bottom: 39px;
  }
  .catalog__item:nth-child(3n+3) {
    margin-right: 29px;
  }
  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }
  .footer__logo {
    display: none;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header_input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .main__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    width: auto;
    margin-top: 46px;
  }
  .main__text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .main__link {
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .furniture__title {
    font-size: 24px;
    line-height: 29px;
    padding-top: 32px;
  }
  .furniture__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .furniture__item {
    grid-column: 1/-1;
    height: 375px;
  }
  .furniture__item_big_1 {
    height: 244px;
  }
  .furniture__item_big_2 {
    height: 244px;
  }
  .furniture__link {
    font-size: 28px;
    line-height: 34px;
  }
  .main_link_footer_catalog {
    margin-bottom: 24px;
  }
  .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .special__title {
    font-size: 24px;
    line-height: 29px;
    text-align: start;
  }
  .special__item {
    width: 100%;
    margin-right: 0px;
  }
  .catalog__title {
    font-size: 24px;
    line-height: 29px;
    text-align: start;
  }
  .catalog__item {
    width: 100%;
    margin-right: 0px;
  }
  .catalog__item:nth-child(3n+3) {
    margin-right: 0px;
  }
  .catalog__top {
    padding-bottom: 0px;
  }
  .filters {
    flex-wrap: wrap;
    gap: 16px;
  }
}
@keyframes rotate-scale-up-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}
.basket {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.basket__form {
  background: #f7f6f6;
  border-radius: 20px;
  grid-column: span 4;
}
.basket__content {
  grid-column: span 8;
}
.basket__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.basket__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.basket__left {
  display: flex;
  gap: 32px;
}
.basket__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.basket__info_title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.basket__info_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.basket__info_price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}
.basket__form {
  background: #F7F6F6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
}
.basket__form_input {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.basket__form-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 3px;
  border: 0;
  border-bottom: 1px solid #CACDD8;
  background: inherit;
  width: 100%;
}
.basket__form-name::-moz-placeholder {
  color: #000000;
}
.basket__form-name::placeholder {
  color: #000000;
}
.basket__input_number {
  background: #F7F6F6;
  border-radius: 6px;
  width: 72px;
  height: 52px;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border: 0;
}
.basket__form-name:focus {
  outline: none;
}
.basket__Making-an-order {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  color: #000000;
}
.basket__content-btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #000000;
  border-radius: 50px;
  width: 200px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  background: inherit;
  margin-right: 7px;
  transition: 0.6s;
}
.basket__content-btn:hover {
  background: #000000;
  color: #ffffff;
}
.basket__form-btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #000000;
  border-radius: 50px;
  width: 100%;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  background: inherit;
  transition: 0.6s;
}
.basket__form-btn:active {
  animation: rotate-scale-up-diag-1 3s forwards;
  animation-timing-function: linear;
}
.basket__form-btn:hover {
  background: #000000;
  color: #ffffff;
}
.basket__form p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: #000000;
}
.basket__link_catalog {
  font-weight: 500;
  line-height: 29px;
  color: #050505;
  margin-right: 32px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
  transition: 0.6s;
  padding: 2px;
}
.basket__link_catalog:hover {
  text-decoration: none;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: rgba(224, 224, 224, 0.6117647059);
}
.basket__product__price1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  margin-right: 32px;
  margin-bottom: 32px;
}
.basket__special_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.basket__container {
  padding-bottom: 64px;
}
.basket__link_btn {
  margin-right: 30px;
  text-decoration: underline;
  transition: 0.6s;
}
.basket__link_btn:hover {
  text-decoration: none;
  background-color: transparent;
  color: #888888;
}
.basket__price {
  margin-left: 6px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.basket__price_itogo {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.basket__price_summa {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 1200px) {
  .basket {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .basket__form {
    padding-bottom: 148px;
  }
}
@media (max-width: 767px) {
  .basket .main__title {
    font-size: 48px;
    line-height: 59px;
  }
  .basket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .basket__name-box {
    display: none;
  }
  .basket__content {
    grid-column: span 4;
  }
  .basket__img {
    display: none;
  }
  .basket__content-btn {
    width: 166px;
    height: 37px;
    border: 1px solid #000000;
    border-radius: 50px;
    margin-right: 14px;
  }
  .basket__button-form-btn {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */